<template>
  <div>
    <h3>{{ title }}</h3>
    <hr />

    <div class="row">
      <CompFeed
        @update="updateAuthor"
        v-for="feed in listFeedPage"
        :author="author"
        :key="feed.id"
        :feed="feed"
      />

      <div class="container">
        <paginate
          :page-count="pageCount"
          :click-handler="clickCallback"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :container-class="'pagination'"
          :page-class="'page-item'"
        ></paginate>
      </div>
    </div>
  </div>
</template>

<script>
import CompFeed from "./CompFeed.vue";

export default {
  name: "CompHomeFeed",
  components: {
    CompFeed,
  },

  data() {
    return {
      title: "Feed All Author",
      itemOnPage: 12,
      listFeed: [],
      listFeedPage: [],
      listFeedFilter: [],
      pageCount: 0,
      author: "",
    };
  },

  created() {
    this.get_list_feed();
  },
  methods: {
    clickCallback(pageNum) {
      console.log("pageNum");
      pageNum = pageNum - 1;
      this.listFeedPage = [...this.listFeedFilter].splice(
        pageNum * this.itemOnPage,
        this.itemOnPage
      );
    },
    updateAuthor(author) {
      console.log("updateAuthor");
      this.title = "All feed of Author: " + author;
      this.author = author;
      this.listFeedFilter = [...this.listFeed];
      this.listFeedFilter = this.listFeedFilter.filter(
        (f) => f.author == author
      );
      this.pageCount = Math.ceil(this.listFeedFilter.length / this.itemOnPage);
      this.listFeedPage = [...this.listFeedFilter].splice(0, this.itemOnPage);
    },
    setListFeed() {
      this.listFeedFilter = [...this.listFeed];
      this.pageCount = Math.ceil(this.listFeedFilter.length / this.itemOnPage);
      this.listFeedPage = [...this.listFeed].splice(0, this.itemOnPage);
    },
    get_list_feed() {
      this.axios
        .get("https://run.mocky.io/v3/cd62c8a6-f76a-4df8-93f8-0205c65218fa")
        .then((res) => {
          this.listFeed = res.data;
          this.listFeedFilter = [...this.listFeed];
          this.pageCount = Math.ceil(
            this.listFeedFilter.length / this.itemOnPage
          );
          this.listFeedPage = [...this.listFeed].splice(0, this.itemOnPage);
        });
      // this.axios
      //   .get(
      //     "https://5f3798a9bbfd1e00160bf413.mockapi.io/api/v1/list-feed/list-feed"
      //   )
      //   .then((res) => {
      //     this.listFeed = res.data;
      //     this.listFeedFilter = [...this.listFeed];
      //     this.pageCount = Math.ceil(
      //       this.listFeedFilter.length / this.itemOnPage
      //     );
      //     this.listFeedPage = [...this.listFeed].splice(0, this.itemOnPage);
      //   });
    },
  },
};
</script>

<style lang="css">
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-item > .active {
  color: #ffffff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
</style>
