<template>
  <div class="col-md-3 p-2">
    <div class="feed">
      <div class="card" style="width: 25rem;">
        <img
          @click="showModal=true"
          :src="feed.image_feed"
          width="500px"
          height="300px"
          class="card-img-top p-5"
        />
        <div class="card-body">
          <p>
            Author:
            <a
              class="card-author"
              v-on:click="UpdateFeedOfAuthor(feed.author)"
            >{{ feed.author }}</a>
          </p>
        </div>
        <CompModalDetail :show-modal="showModal" :feed="feed" />
      </div>
    </div>
  </div>
</template>

<script>
import CompModalDetail from "./CompModalDetail.vue";

export default {
  name: "CompFeed",
  components: {
    CompModalDetail,
  },
  data() {
    return {
      showModal: false,
    };
  },
  props: {
    feed: {
      type: Object,
    },
  },

  methods: {
    UpdateFeedOfAuthor(author) {
      this.$emit("update", author);
    },
  },
};
</script>

<style>
.card-img-top {
  cursor: pointer;
}
.card-author {
  cursor: pointer;
}
</style>
