<template>
  <div v-if="showModal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Detail Image: {{feed.id}}</h4>
                <button type="button" class="close" @click="showModal=false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card" style="width: 100%;">
                  <img
                    @click="showModal=true"
                    width="100%"
                    :src="feed.image_feed"
                    class="card-img-top p-5"
                  />
                  <div class="card-body">
                    <p>
                      Author:
                      <a href="#">{{ feed.author }}</a>
                    </p>
                    <p class="card-text">
                      Url text image:
                      <a
                        :href="feed.image_feed"
                        target="_blank"
                        rel="noopener noreferrer"
                      >{{ feed.image_feed }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    showModal: {
      type: Boolean,
    },
    feed: {
      type: Object,
    },
  },
};
</script>

<style lang="css">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>