<template>
  <div class="contanner">
    <div id="app">
      <h1>
        <b>{{ title }}</b>
      </h1>
      <a href="/">All Author</a>
      <hr />
      <hr />
      <CompHomeFeed :list-feed="listFeed" />
    </div>
  </div>
</template>

<script>
import CompHomeFeed from "./components/CompHomeFeed.vue";

export default {
  name: "App",
  components: {
    CompHomeFeed,
  },
  data() {
    return {
      title: "Demo Learn Vue",
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
